.App {
  font-family: sans-serif;
  text-align: center;
}
.input-box {
  .text-input {
    width: 250px;
    height: 47px;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 2px 2px 10px 0px;
    padding: 0px 10px;
    font-size: 1rem;
  }
  .add-button-type {
    width: 80px;
    height: 47px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: rgb(49, 193, 255);
    color: whitesmoke;
    font-weight: 700;
    font-size: 1rem;
    margin: 10px 0px 0px 10px;
    box-shadow: 2px 2px 10px 0px;
  }
}
.Show-data {
  text-align: start;
  margin-top: 2rem;

  li {
    height: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .delete-text-button {
    width: 60px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: rgb(255, 49, 49);
    color: whitesmoke;
    font-weight: 700;
    font-size: 0.69rem;
    margin-left: 20px;
  }
  .edit-text-button {
    width: 60px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: rgb(61, 60, 60);
    color: whitesmoke;
    font-weight: 700;
    font-size: 0.69rem;
    margin-left: 20px;
  }
  /* App.css */
  .todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .todo-item span {
    margin-right: 10px;
  }

  .item-text {
    flex-grow: 1;
  }
  .delete-text-button {
    background-color: red;
    color: white;
    border: none;
    /* padding: 5px 10px; */
    cursor: pointer;
  }
}
